@import url('https://fonts.googleapis.com');
body{
    font-family:' comfortaa',sans-serif;
    background: rgb(255,149,202);
}
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.container{
    width: 550px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%);
    display: flex;
    cursor: pointer;
}
span{
    background:white ;
    width: 12.5%;
    height: 100%;
    border: 1px solid rgb(167,167,167);
    transition: 0.9s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color:rgb(157,157,157) ;
}
.container:hover span:nth-child(odd){
    transform: skewY(-15deg);
    box-shadow: 0px 60px 20px rgb(0,0,0);
}
.container:hover span:nth-child(even){
    transform: skewY(15deg);
    box-shadow: 0px 60px 20px rgb(0,0,0);
}